/*
Bootstrap overwrite stylesheet
*/
/* 
    Created on : Jun 16, 2020, 2:06:28 PM
    Author     : gotivac
*/

.dropdown-menu {
    text-align: left !important;
}

.nav-pills > li{
    position: relative;
    display:block;
    padding:2px 3px;
    text-align: center;


}

.nav-pills > li > a {
    background-color:#1a73e8;
    color:#fff;
}

#middle {
    padding:10px;
}

/* Start Portlets*/
.portlet{
    -webkit-box-shadow:#F9F9F9 0 1px 0 inset;
    border:1px solid #DDDDDD;
    border-radius:3px;
    box-shadow:#F9F9F9 0 1px 0 inset;
    margin-bottom:20px;
    min-height:40px;

}

.portlet-decoration{
    border-bottom:1px solid #DDD;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

    margin-right:5px;

}
.portlet-content{
    padding: 15px;
    background: solid;
    background-color: #f5f5f5;
}

.form-actions {
    margin: 24px 0 10px 0;

    text-align: right;



}

.dz-details {
    
    width:160px !important;
    height:160px !important;
}
.dz-details img {
    
    width:160px !important;
    height:160px !important;
    z-index:1;
   
}
.dz-progress {
    top: 133px !important;
}
.dz-filename {
    background:rgba(0,0,0,0.8);
    z-index: 100;
}
.dz-filename span {
    color: #fff;
}
.dz-error-message {
    background: transparent !important;
}

.dz-size {
    display:none;
}

.panel-body {
    border: thin solid #dddddd;
}

.datepicker {
    z-index: 1600 !important; /* has to be larger than 1050 */
}

hr {
    border-bottom: 1px solid #666 !important;
}

.form-group p {
    margin-bottom: 0px;
}    

.modal-dialog {
    width:1200px;
}

.logo-canvas img {
    /* width: 100%; */
    max-height: 100%;
}

.job-apply article .logo-canvas {
    position: relative;
    background: url(../img/border-job-apply.png) right no-repeat;
    border-right: 1px solid;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    padding: 34px 20px 34px 5px;
}

article .logo-canvas {
	
	padding: 34px 20px;
	position: relative;
	background: url(../img/border.png) right no-repeat;
	border: 1px solid transparent;
	margin-right: 20px;
	height: 250px;
	display: flex;
	align-items: center;
}

.job-apply-typo h3 {
	font-size: 18px;
	font-weight: 700;
	color: #1a2737;
}

.job-apply-typo .row {
	margin-top: 60px;
}

article .content {
	padding: 0px 20px;
	position: relative;
	height: auto;
}

.ui-autocomplete {
	font-size: 14px;
	padding: 8px;
	font-family: 'Lato', sans-serif;
	max-height: 200px;
	overflow: auto;
}